<h3>Login Page</h3>
<div class ="container-fluid">
    <form #f="ngForm">
           
        <div class="form-group">
            <label for="username">User Name</label>
            <input id ="username" type="text" class="form-control" name="username" [(ngModel)]="username" required>
          </div>

          <div class="form-group">
            <label for="password">Password</label> 
            <input id="password" type="text" class="form-control" name="password" [(ngModel)]="password" required>
          </div>

          <button class="btn btn-primary" type="submit" (click)="getlogin()">login</button> 

    </form>
</div>


