<nav  class="nav blue lighten-4 py-4">
  <a class="nav-link active" routerLink = "/home" >Home</a>
  <a class="nav-link" routerLink = "/books" >Books</a>
  <a class="nav-link" routerLink = "/users" >Users</a>
  <a class="nav-link" routerLink = "/circulation" >Circulation</a>
  <a class = "nav-link" style="cursor: pointer" (click) = "logoutUser()">Logout</a>
</nav>

<br><h3>User List</h3><br>
<button type="button" class="btn btn-info btnMargin" data-toggle="modal" data-target="#modelId" (click) = "create()">Add User</button><br>
<div class="container">        
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email Id</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let user of users">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>
            <button type="button" class="btn btn-info btnMargin" data-toggle="modal" data-target="#modelId" (click) = "update(user)">Update</button>
        </td>
        <td>
            <button type="button" class="btn btn-info btnMargin" (click)="delete(user)">Remove</button>
        </td>
        </tr>
    </tbody>
 </table>
</div>

<div class="modal fade" id="modelId" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{dialogTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
          <app-user [user] = "selectedUser" [isEditUser] = "isEditUser" (saveEvent) = "saveUserAck($event)"></app-user>
      </div>
      <div class="modal-footer">
        <button id = "closePopup" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





