<div class ="container-fluid">
    <form #f="ngForm">
        <div class="form-group" *ngIf="isEdit">
            <label for="id">Book Id</label>
            <input id="id" class="form-control" type="text" name="id" [(ngModel)]="book.id" [disabled]="isEdit">
      </div>
     
        <div class="form-group">
            <label for="title">Title</label>
            <input id ="title" type="text" class="form-control" name="title" [(ngModel)]="book.title" required>
          </div>

          <div class="form-group">
            <label for="author">Author</label> 
            <input id="author" type="text" class="form-control" name="author" [(ngModel)]="book.author" required>
          </div>

          <div class="form-group">
            <label for="genre">Genre</label>
            <input id="genre" type="text" class="form-control" name="genre" [(ngModel)]="book.genre" required>
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <input id ="price" type="number" class="form-control" name="price" [(ngModel)]="book.price" required>
          </div>

          <button class="btn btn-primary" type="submit" (click)="saveBook()">Submit</button>

    </form>
</div>
