<nav  class="nav blue lighten-4 py-4">
  <a class="nav-link active" routerLink = "/home" >Home</a>
  <a class="nav-link" routerLink = "/books" >Books</a>
  <a class="nav-link" routerLink = "/users" >Users</a>
  <a class="nav-link" routerLink = "/circulation" >Circulation</a>
  <a class = "nav-link" style="cursor: pointer" (click) = "logoutUser()">Logout</a>
</nav>

<h3>Circulation</h3><br>
<div class ="container-fluid">
    <form #f="ngForm">
        <div class="form-group">
            <label for="userId">UserId</label>
            <input id ="userId" type="number" class="form-control" name="firstName" [(ngModel)]="userId" required>
          </div>
          <button class="btn btn-primary" type="submit" (click)="getUserInfo()">Submit</button>
        </form>
    </div>

<div *ngIf = "IsUserIdSubmited"> 
    <br> 
    <p>User Information:</p><br>
    <p>UserId : {{userBook.user.id}}</p>
    <p>Name : {{userBook.user.firstName}} {{userBook.user.lastName}}</p>
    <p>Email Id : {{userBook.user.email}}</p>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
        Add Book
      </button><br>
    
    <div class="container" *ngIf = "userBook.bookList.length > 0">    
      <p>
        Issued Books
    </p><br>    
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Author</th>
              <th>Gener</th>
              <th>Price</th>
              <th>Release</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let book of userBook.bookList">
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.price}}</td>
            <td>
                <button type="button" class="btn btn-info btnMargin" (click)="delete(book)">Release</button>
            </td>
            </tr>
        </tbody>
     </table>
    </div>

</div>

<div class="modal fade" id="modelId" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add book</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <form #f="ngForm">
                    <div class="form-group">
                        <label for="bookId">BookId</label>
                        <input id ="bookId" type="text" class="form-control" name="bookId" [(ngModel)]="bookId" required>
                      </div>
                      <button class="btn btn-primary" type="submit" (click)="create()">Save</button>
                    </form>
            </div>
        </div>
        <div class="modal-footer">
          <button id = "closePopup" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
