<div class ="container-fluid">
    <form #f="ngForm">
        <div class="form-group" *ngIf="isEditUser">
            <label for="id">User Id</label>
            <input id="id" class="form-control" type="text" name="id" [(ngModel)]="user.id" [disabled]="isEditUser">
      </div>
     
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input id ="firstName" type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" required>
          </div>

          <div class="form-group">
            <label for="lastName">Last Name</label> 
            <input id="lastName" type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" required>
          </div>

          <div class="form-group">
            <label for="email">Email Id</label>
            <input id="email" type="text" class="form-control" name="email" [(ngModel)]="user.email" required>
          </div>

          <button class="btn btn-primary" type="submit" (click)="saveUser()">Submit</button>

    </form>
</div>
