<nav  class="nav blue lighten-4 py-4">
    <a class="nav-link active" routerLink = "/home" >Home</a>
    <a class="nav-link" routerLink = "/books" >Books</a>
    <a class="nav-link" routerLink = "/users" >Users</a>
    <a class="nav-link" routerLink = "/circulation" >Circulation</a>
    <a class = "nav-link" style="cursor: pointer" (click) = "logoutUser()">Logout</a>
</nav>
<h2>Welcome to Library Application</h2>

